form{
    padding-top: 50px;
    width: 50%;
    height: 1100px;
    margin: 150px auto;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 200px;

}
label{
    text-align: center;
} 


